* {
  margin: 0;
  padding: 0;
}
.fullContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  flex-direction: column;
}
