footer {
    width: 100%;
    background-color: rgb(244, 244, 246);
    padding-top: 10px;
    padding-bottom: 20px;
}

.item{
    margin-top: 10px;
}
.footer-element {
    width: 80%;
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-items {
    list-style-type: none; 
    padding: 0;            
    margin: 0;
}

.list-items li a ,.list-items li {
    color: rgb(15, 19, 109);      
    text-decoration: none; 
    font-weight: 300;
    line-height: 17px;
    font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 0.75rem;
}

.list-items li a:hover {
    text-decoration: underline;    
}

.footer-element h2 {
    color: rgb(15, 19, 109);
    font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}


#f-daraz{
    height: 40px;
    padding-right: 5px;
}
#Hp{
    font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    color: rgb(243, 111, 54);
    font-size: 16px;
    font-weight: 300;
}
#Da{
    font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    color: rgb(15, 19, 109);
    font-size: 14px;
    font-weight: 300;
    padding-top: 2px;
}
#f-special{
    display: flex;
    justify-content: space-between;
}
.item img{
    cursor: pointer;
}