<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" rel="stylesheet" />
    <title>booking</title>
  </head>
  <body>
    <header class="bg-blue-600 py-5 pl-10 shadow-lg rounded-b-md">
      <nav class="px-6">
        <a
          href="./client"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Home</a
        >
        <a
          href="./userList"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Post List</a
        >
        <a
          href="./favourit"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Favourit</a
        >
        <a
          href="./reserve"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Reserve</a
        >
        <a
          href="./booking"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Booking</a
        >
        <a
          href="./server"
          class="p-1 px-3 rounded-[5px] text-white font-serif capitalize text-[18px] hover:bg-blue-900 transition-all duration-500 ease-in-out"
          >Add Post</a
        >
      </nav>
    </header>

    <h1 class="text-4xl font-bold text-blue-500 text-center mt-20">
     Your Bookings
    </h1>
  </body>
</html>
